<p class="display-4">Welcome to the site!</p>
<p class="lead">We're happy that you've found our results page for our 2018 SacHacks project! Our goal of this project was to conduct some basic data analysis with Olympic Games data and see what interesting trends we could find. Additionally, we wanted to see if there were certain traits or attributes that would allow us to predict cool things such as (fill in blanks here)!</p>

<p class="h3">About the Dataset</p>
<p class="lead">The primary dataset we used can be found here: </p>