<div style = "padding-left: 50px">
    <p class="display-4">Team One Wild Walnut</p>

    <p class="h3">Michelle Zhao</p>
    <p class="lead">I'm a junior at Caltech, majoring in Computer Science. In my free time, I like to run and eat Quest bars. </p>

    <p class="h3">Michael Li</p>
    <p class="lead">I'm a junior at Caltech, majoring in Computer Science and Business, Economics, and Management. I like to play basketball.</p>

    <p class="h3">Andreas Godderis</p>
    <p class="lead">I'm a junior at UC Davis majoring in Economics. I like to play soccer.</p>

</div>