<div style = "padding-left: 50px">
    <p class="display-4">Insights</p>


    <p class="lead"> There are five archetypes for each of the five positions. For point guards,
    the archetypes are shot-creating slasher, shot-creating sharpshooter, slashing playmaker, sharpshooting playmaker,
    and playmaking shot creator. For shooting guards, the archetypes are playmaking slasher, sharpshooting defencer,
    slashing shot creator, sharpshooting shot creator, and pure sharpshooter. For small forwards, the five
    archetypes are shot-creating slashers, sharpshooting shot creators, pure sharpshooters, slashing defenders, and
    sharpshooting slasher. For power forwards, the archetypes are slashing rim protector, rebounding athletic
    finisher, slashing post scorer, two-way rebounder, and sharpshooting rim protector. Finally, for centers,
    the archetypes are post-scoring athletic finisher, slashing rebounder, pure rim protector, slashing stretch five, and
    rebounding post scorer. Each archetype has a primary and secondary skill, all of which are encapsulated in the
    figure below.
    </p>


    <%= image_tag 'archetypes.png', size:'800' %><br /><br /><br />



</div>