<div style = "padding-left: 50px">
    <p class="display-4">About Us</p>

    <p class="lead">From the insights we found in the data, we were able to perform predictive modeling on the data.
    The objective of our work was to identify the best archetype for each player position that would give the highest
    likelihood of winning the game. Through our analysis, we noticed that best archetype for winning a game is dependent
    on the opponent as well as the playing team. Thus, we </p>

    <%= image_tag 'archetypes.png', size:'56' %>

    <p class="h3">Michelle Zhao</p>




</div>